.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}

.back-button {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 160px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &:hover {
        background-color: #5264AE;
        box-shadow: 0px 15px 20px rgba(82, 100, 174, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.reload-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.stats-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 55px 40px;
}

.key-stats {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 460px;
    column-gap: 30px;

    &-item {
        width: 130px;
        height: 130px;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;

        &-header {
            font-size: 15px;
        }

        &-value {
            font-size: 31px;
            margin-top: 20px;
        }
    }
}

.container {
    font-family: 'lato', sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.items-wrapper {
    position: relative;
    min-height: 100px;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;    
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
    }

    .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 40%;
    }

    .col-2 {
        flex-basis: 20%;
    }

    .col-3 {
        flex-basis: 20%;
    }

    .col-4 {
        flex-basis: 20%;
    }

    @media all and (max-width: 767px) {
        .table-header {
          display: none;
        }

        li {
          display: block;
        }

        .col {
          flex-basis: 100%;
        }

        .col {
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
          }
        }
    }
}

input {
    border: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
    width: 100%;
    transition: all 0.3s ease-in-out;
    appearance: none;
    height: 30px;

    &:focus {
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    }
}

label {
    display: block;
    margin-bottom: 24px;
    margin-top: 10px;
    width: 100%;
}

.update-btn {
    border: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #fff;
    color: #000;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #BABECC;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
    }

    &:active {
        box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    }
}

.search-input {
    max-width: 800px;
    margin-bottom: 40px;
    height: 45px;
}