<div class="wrapper">
  <div class="header">
    <button class="back-button" (click)="navigateToProjects()">Back to projects</button>
    <div class="title">
      Project: {{ projectName }}
    </div>
  </div>
  <div class="reload-wrapper">
    <button (click)="getData()">Update data</button>
  </div>
  <div class="stats-wrapper">
    <div class="key-stats">
      <div>
        Tasks Completed: {{ tasksCompleted }}
      </div>
      <div>
        Total TP: {{ totalTP }}
      </div>
      <div>
        Total FP: {{ totalFP }}
      </div>
      <div>
        Total FN: {{ totalFN }}
      </div>
      <div>
        Precision: {{ precision | percent }}
      </div>
      <div>
        Recall: {{ recall | percent }}
      </div>
      <ngx-spinner name="key-stats-spinner" bdColor = "#ffffff" size = "medium" color = "#000000" type = "square-jelly-box" [fullScreen] = "false"></ngx-spinner>
    </div>
    <div class="user-inputs">
      <div>IoU threshold (between 0 and 1):
        <input [(ngModel)]="iouThresh">
      </div>
      <div>Score threshold (between 0 and 1):
        <input [(ngModel)]="scoreThresh">
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>